.projectCard {
    background: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    @media (max-width: 768px) {
      padding: 1rem;
    }
  }
  
  .projectName {
    color: var(--text-color);
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  
    @media (max-width: 600px) {
      font-size: 1.5rem;
    }
  }
  
  .projectDescription {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
  
    @media (max-width: 600px) {
      font-size: 0.9rem;
    }
  }
  
  .projectTechnologies {
    font-size: 0.9rem;
    color: var(--accent-color); // Use an accent color from your scheme
    font-style: italic;
    margin-bottom: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
  
    &:hover {
      color: var(--text-color); // Adjust for contrast
      text-decoration: underline;
    }
  
    @media (max-width: 600px) {
      font-size: 0.8rem;
    }
  }
  
  
  .projectLinks {
    display: flex;
    gap: 1rem;
  }
  
  .liveLink,
  .repoLink {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: var(--accent-color);
    color: var(--background-color);
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
  
    &:hover {
      background: var(--secondary-color);
    }
  
    @media (max-width: 600px) {
      padding: 0.4rem 0.8rem;
      font-size: 0.9rem;
    }
  }
   
  