@use "./variables" as *;

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $spacing;
  }
  
  .design-area {
    width: 80%;
    max-width: 900px;
    padding: 2rem;
    border-radius: 12px;
    background: linear-gradient(135deg, $secondary-color, $primary-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  