@use "../styles/variables" as *;

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.title {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--accent-color);
  font-family: $heading-font;
  animation: fadeIn 1s ease-in-out;
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.subtitle {
  font-size: 1.5rem;
  color: var(--text-color);
  font-family: $body-font;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}


.showcaseContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  @media (max-width: 768px) {
    flex-direction: column; // Mobile: switch to column
    align-items: stretch;
  }
}



